<div class="main-content" style="border-radius: 0px 0px 10px 10px">
    <h2>Computer Science Study</h2>
    <div class="desktop-nav">
        <a class="btn" href="../" style="margin-bottom: 0px;">← Back</a>
        <a class="btn" href="/study/j277/" style="margin-bottom: 0px;">OCR J277</a>
        <a class="btn" href="/study/8525/" style="margin-bottom: 0px;">AQA 8525</a>
    </div>
    <div class="mobile-nav">
        <a class="btn" href="../" style="margin-bottom: 0px;">← Back</a>
        <details>
            <summary class="btn" style="margin-top: 0.6rem; margin-bottom: 0px; background-color: #0058b6;">Menu</summary>
            <a class="btn" href="/study/j277/" style="margin-top: 0.6rem; margin-bottom: 0px;">OCR J277</a>
            <a class="btn" href="/study/8525/" style="margin-top: 0.6rem; margin-bottom: 0px;">AQA 8525</a>
        </details>
    </div>
</div>