<div class="main-content" style="border-radius: 0px 0px 10px 10px">
    <h2>Computer Science Study</h2>
    <div class="desktop-nav">
        {% unless page.hideBack %}
            <a class="btn" href="../" style="margin-bottom: 0px;">← Back</a>
        {% endunless %}
        <a class="btn" href="/" style="background-color:#414d59; color:#eee; margin-bottom: 0px;">Home</a>
        <a class="btn" href="/contribute" style="margin-bottom: 0px;">Contribute</a>
    </div>
    <div class="mobile-nav">
        {% unless page.hideBack %}
            <a class="btn" href="../" style="margin-bottom: 0px;">← Back</a>
        {% endunless %}
        <a class="btn" href="/" style="margin-bottom: 0px;">Home</a>
        <details style="background-color: transparent;border-color: transparent;border-radius: 0px;padding: 0px">
            <summary class="btn" style="margin-top: 0.6rem; margin-bottom: 0px; background-color: #414d59; color:#eee">☰ Menu</summary>
            <a class="btn" href="/contribute" style="margin-top: 0.6rem; margin-bottom: 0px;">Contribute</a>
        </details>
    </div>
</div>