<div class="main-content" style="border-radius: 0px 0px 10px 10px">
    <h2>Computer Science Study</h2>
    <div class="desktop-nav">
        {% unless page.hideBack %}
            <a class="btn" href="../" style="margin-bottom: 0px;">← Back</a>
        {% endunless %}
        <a class="btn" href="/study/8525/" style="margin-bottom: 0px;">GCSE AQA 8525</a>
        <a class="btn" href="/study/j277/" style="margin-bottom: 0px;">GCSE OCR J277</a>
        <a class="btn" href="/study/h446/" style="margin-bottom: 0px;">A-Level OCR H446</a>
    </div>
    <div class="mobile-nav">
        {% unless page.hideBack %}
            <a class="btn" href="../" style="margin-bottom: 0px;">← Back</a>
        {% endunless %}
        <details style="background-color: transparent;border-color: transparent;border-radius: 0px;padding: 0px">
            <summary class="btn" style="margin-top: 0.6rem; margin-bottom: 0px; background-color: #0058b6;">Menu</summary>
            <a class="btn" href="/study/8525/" style="margin-top: 0.6rem; margin-bottom: 0px;">GCSE AQA 8525</a>
            <a class="btn" href="/study/j277/" style="margin-top: 0.6rem; margin-bottom: 0px;">GCSE OCR J277</a>
            <a class="btn" href="/study/h446/" style="margin-top: 0.6rem; margin-bottom: 0px;">A-Level OCR H446</a>
        </details>
    </div>
</div>