---
---
@import "{{ site.theme }}";

body {
    background-color: #111;
    color: #eee;
    font-family: "Noto Sans", sans-serif;
}

.page-header {
    background-image: linear-gradient(0deg, #222, #222);
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        color: #adf;
    }
}