---
---
@import "{{ site.theme }}";

body {
    background-color: #111;
    color: #eee;
    font-family: "Noto Sans", sans-serif;
}

.project-name {
    color: #a0b9d2
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        color: #a0b9d2;
    }
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(0deg, #282828, #282828);

  @include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 1.5rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}