<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include study-header.html %}
    
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      {% if page.notes %}
        <a href="resources/notes.html">Notes</a>
        <p>Read revision notes for the topic, adapted to the specification.</p>
      {% endif %}
      {% if page.flashcards %}
        <a href="resources/flashcards.html">Flashcards</a>
        <p>Find Quizlet flashcards for this topic.</p>
      {% endif %}
      {% if page.worksheets %}
        <a href="resources/worksheets.html">Worksheets</a>
        <p>Find worksheets for this topic.</p>
      {% endif %}
      {% if page.code %}
        <a href="resources/code.html">Code</a>
        <p>Find coded algorithms for this topic.</p>
      {% endif %}

      <footer class="site-footer">
        <a href="https://github.com/Luke-S0/Luke-S0.github.io/issues/new">Report a problem with the content</a>
        <p>Copyright (C) 2026 Luke-S0. Content is provided for educational purposes with no guarantee that the information is correct. If you notice a mistake, please report it on GitHub.</p>
      </footer>
    </main>
  </body>
</html>